<div class="contact">
  <h2>{{ 'CONTACT_ME' | translate }}</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <label for="name">{{ 'NAME' | translate }}:</label>
    <input type="text" id="name" required [(ngModel)]="contact.name" name="name">

    <label for="email">{{ 'EMAIL' | translate }}:</label>
    <input type="email" id="email" required [(ngModel)]="contact.email" name="email">

    <label for="message">{{ 'MESSAGE' | translate }}:</label>
    <textarea id="message" required [(ngModel)]="contact.message" name="message"></textarea>

    <button type="submit">{{ 'SEND' | translate }}</button>
  </form>
</div>
